*{margin:0;padding:0;}*::selection{background:#404E53;}
body{font-family:"Helvetica Neue",Helvetica,sans-serif;background:url("ios-texture-light.png");text-shadow:0px 1px 0px #e5e5ee;}
.italic{font-style:italic;}
.underline{text-decoration:underline;}
.bold{font-weight:bold;}
.c1{color:#62BB47;}
.c2{color:#FCB827;}
.c3{color:#F48221;}
.c4{color:#E03A3E;}
.c5{color:#963D97;}
.c6{color:#0096D2;}
section#top_colors{box-shadow:1px 1px 4px rgba(0, 0, 0, 0.3);z-index:100;top:0;position:fixed;width:100%;height:10px;background:#0096D2;}section#top_colors div{height:10px;width:16.5%;float:left;}section#top_colors div.c1{background:#62BB47;}
section#top_colors div.c2{background:#FCB827;}
section#top_colors div.c3{background:#F48221;}
section#top_colors div.c4{background:#E03A3E;}
section#top_colors div.c5{background:#963D97;}
section#top_colors div.c6{background:#0096D2;}
section#page{position:relative;width:500px;margin:40px auto;}
section.card#card_2{line-height:1.5;margin:20px 0;font-size:22px;font-weight:200;}section.card#card_2 p{margin-bottom:20px;}
section.card#card_3 blockquote{line-height:1.5;margin-bottom:20px;font-size:18px;border-left:5px black solid;padding-left:20px;color:#000 !important;}section.card#card_3 blockquote.c1{border-color:#62BB47;}
section.card#card_3 blockquote.c2{border-color:#FCB827;}
section.card#card_3 blockquote.c3{border-color:#F48221;}
section.card#card_3 blockquote.c4{border-color:#E03A3E;}
section.card#card_3 blockquote.c5{border-color:#963D97;}
section.card#card_3 blockquote.c6{border-color:#0096D2;}
section.card#card_4{margin:20px 0;}section.card#card_4 div.video{margin-bottom:20px;}
section.card#card_4 div.img_flag{margin-bottom:20px;}
section.card#card_5{margin:20px 0;}
div.img_flag{-webkit-box-shadow:inset 8px 8px 8px rgba(0, 0, 0, 0.8);height:500px;width:500px;margin-bottom:10px;background:url("apple_ig.jpg");}div.img_flag.steve1{height:378px;background:url("steve1.jpg");}
div.img_flag.steve2{-webkit-box-shadow:inset 8px 8px 8px rgba(0, 0, 0, 0.3);height:626px;background:url("steve2.jpg");}
h1.name{color:#220821;font-size:72px;font-weight:bold;text-align:center;}h1.name span{font-weight:normal;}
h1.name.section{color:#888;font-size:46px;margin-bottom:20px;}
div.footer{font-style:italic;font-family:Palatino, Georgia, serif;color:#666;font-size:22px;text-align:center;}
